# Wrangle and Analyze Data
#### Final report

## Analysis and Visualisation
In this section some insights into the data at hand are provided by asking a few question and trying to answer them through querying the data the right way.

### How many submissions are real dogs?

I counted the number of `True` values in `p1_dog` and divided it on the total count of entries to reach the answer of 74.06%.

This is, however, assuming that the prediction results are accurate enough, which we will question soon enough.

### Top 10 rated dogs

I learned that by simply reordering the `DataFrame` according to the score values calculated during the cleaning phase, and then slicing it to diplay the top 10 results and only the desired columns.

The top 2 or 3 seem to be outliers, probably we should have removed them in the cleaning phase.


<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>tweet_id</th>
      <th>name</th>
      <th>stage</th>
      <th>p1_dog</th>
      <th>rating_score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>749981277374128128</td>
      <td>Atticus</td>
      <td>None</td>
      <td>False</td>
      <td>177.600000</td>
    </tr>
    <tr>
      <td>670842764863651840</td>
      <td>None</td>
      <td>None</td>
      <td>False</td>
      <td>42.000000</td>
    </tr>
    <tr>
      <td>786709082849828864</td>
      <td>Logan</td>
      <td>None</td>
      <td>True</td>
      <td>7.500000</td>
    </tr>
    <tr>
      <td>810984652412424192</td>
      <td>Sam</td>
      <td>None</td>
      <td>True</td>
      <td>3.428571</td>
    </tr>
    <tr>
      <td>778027034220126208</td>
      <td>Sophie</td>
      <td>pupper</td>
      <td>True</td>
      <td>2.700000</td>
    </tr>
    <tr>
      <td>680494726643068929</td>
      <td>None</td>
      <td>None</td>
      <td>True</td>
      <td>2.600000</td>
    </tr>
    <tr>
      <td>870063196459192321</td>
      <td>Clifford</td>
      <td>None</td>
      <td>False</td>
      <td>1.400000</td>
    </tr>
    <tr>
      <td>863079547188785154</td>
      <td>None</td>
      <td>None</td>
      <td>True</td>
      <td>1.400000</td>
    </tr>
    <tr>
      <td>864873206498414592</td>
      <td>None</td>
      <td>None</td>
      <td>False</td>
      <td>1.400000</td>
    </tr>
    <tr>
      <td>807621403335917568</td>
      <td>Ollie</td>
      <td>pupper</td>
      <td>True</td>
      <td>1.400000</td>
    </tr>
  </tbody>
</table>
</div>

### Images of the top 3 dogs

Using the last table, we can fetch the associated image using its url and display it.

Doing so brought attention to 2 things: 

* even among the highest rated entries, not all are real.

* The dog breed predition model itself is not always reliable.

![png](wrangle_act_files/wrangle_act_49_0.png)
![png](wrangle_act_files/wrangle_act_50_0.png)
![png](wrangle_act_files/wrangle_act_51_0.png)

### At which stage does a dog get better ratings?

We can answer this by running an average aggregation task on `rating_score` and grouping the results by the `stage`.

For some reason, puppos and floofers score the highest, with puppers being the lowest! This is wrong and unfair if you ask me.


<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>stage</th>
      <th>rating_score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>puppo</th>
      <td>1.200000</td>
    </tr>
    <tr>
      <th>floofer</th>
      <td>1.200000</td>
    </tr>
    <tr>
      <th>doggo</th>
      <td>1.188889</td>
    </tr>
    <tr>
      <th>None</th>
      <td>1.180192</td>
    </tr>
    <tr>
      <th>chimera</th>
      <td>1.118182</td>
    </tr>
    <tr>
      <th>pupper</th>
      <td>1.071429</td>
    </tr>
  </tbody>
</table>
</div>

### Source of submissions

Leveraging other aggregation functions (`value_counts` and `count()`), we get the percentage of each submission source

* Twitter for iPhone: 98.04%

* Twitter Web Client: 1.40%

* TweetDeck: 0.55%

### Retweet vs Favorite Count

It is interesting to know what kind of correlation there is between these 2 variables. coming as no surprise to anyone, they are highly correlated.

![png](wrangle_act_files/wrangle_act_59_0.png)

### Rating Distribution

Another interesting aspect of the data is the distribution of the ratings, trying to plot the whole range didn't result in a clear enough graph, so instead I went with the `[0, 5]`.
I feel sorry for the few good boys who got a rating of less than 1!

* For all values:

![png](wrangle_act_files/wrangle_act_61_0.png)

* For \[0,5\] range:

![png](wrangle_act_files/wrangle_act_62_0.png)

In [3]:
from subprocess import call
call(["python", "-m", "nbconvert", "act_report.ipynb"])

0